* {
  margin: 0;
  padding: 0;
}
.catagory {
  height: 350px;
  width: 350px;
  background-color: white;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
}
.catagory img {
  padding: 0 10px;
  width: 100%;
  object-fit: contain;
  max-height: 250px;
}
.catagory a {
  text-decoration: none;
  color: rgba(35, 35, 35);
}
.catagory p,
.catagory h2 {
  margin-left: 15px;
  padding: 5px;
}
.catagory p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}
.catagory_container {
   max-width: 16000px;
  margin: 0 auto;
  position: relative;
  margin-top: -12%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  place-items: center;
  
}