* {
    margin: 0;
    padding: 0;
  }
  .fixed {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .header__container {
    background-color: rgb(17, 15, 15);
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    height: 70px;
  }
  .logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
  }
  .logo__container img {
    width: 80%;
    margin-left: 20px;
    padding-top: 5px;
  }
  .delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    padding: 5px;
  }
  .delivery p {
    font-size: 10px;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
  }
  .search select,
  .search input {
    padding: 10px;
    font-weight: bold;
    outline: 1px solid white;
  }
  .search select {
    border: none;
    padding-block: 11px;
  }
  .search input {
    border: 1px solid white;
    width: 100%;
    margin-right: -2px;
  }
  .search svg {
    padding: 7px;
    background: #febd69;
    color: #1a1a1a;
  }
  .search svg:hover {
    background-color: #d49644;
  }
  .search:focus-within {
    border: 2px solid rgb(235, 161, 173);
  }
  .order__container {
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 450px;
    display: flex;
  }
  .order__container a {
    text-decoration: none;
    color: white;
  }
  .order__container p {
    font-size: 10px;
  }
  .language {
    display: flex;
    width: 100px;
    padding: 10px;
  }
  .language select {
    background-color: #1a1a1a;
    border: none;
    color: white;
  }
  .language img {
    width: 40%;
  }
  .cart {
    position: relative;
  }
  .cart span {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    left: 14px;
    top: -6px;
    background-color: #1a1a1a1a;
    color: orange;
  }
  .order__container a:hover,
  .delivery:hover,
  .logo__container a:hover,
  .lower__container ul li:hover {
    border: 1px solid white;
    border-radius: 3px;
  }
  .lower__container{
    background-color: #232f3e;
    color: white;
  }
  .lower__container ul {
    display: flex;
    list-style: none;
    gap: 5px;
  }
  .lower__container ul li {
    padding: 8px;
  }
  .lower__container ul li:first-child {
    align-items: center;
    display: flex;
    gap: 2px;
  }
  @media screen and (max-width: 576px) {
    .header__container {
      display: flex;
      flex-direction: column !important;
      height: auto;
    }
    .language {
      display: none;
    }
  }